* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* Adiciona rolagem suave para todo o documento */
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  color: var(--color-white);
  background: #000;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  color: var(--color-white);
}

/*--- navbar ------ */
nav {
  background: transparent;
  transition: background-color 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.nav-scrolled {
  background-color: black;
}

nav button {
  display: none;
}

.nav__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-brand {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaço entre o logo e o texto */
}

.nav-logo {
  height: 40px;
}

.nav-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center; /* Garante que o texto esteja centralizado verticalmente */
  margin-top: 20px;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: auto; /* Ajuste conforme necessário */
  margin-top: 20px;
}

.nav__menu a {
  font-size: 1rem;
  font-weight: 500;
  transition: all 400ms ease;
  color: white;
  text-decoration: none;
}

.nav__menu a:hover {
  color: #b0c4de;
  text-decoration: none;
}

.header-container {
  position: relative;
  overflow: hidden;
  height: 100vh; /* Ajustando para ocupar toda a altura da tela */
  z-index: 1000;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
  position: relative;
  z-index: 2;
}

#headerVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Garantindo que o vídeo cubra totalmente o header-container */
  object-fit: cover;
  z-index: -1;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de transparência */
  z-index: 1;
}

.intro-icons {
  background-color: black;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  width: 85%; /* Aumenta a largura da área para distribuir melhor */
  max-width: 1200px;
  gap: 3rem; /* Aumenta o espaçamento entre os itens */
}

.icon-item {
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-item i {
  font-size: 3rem; /* Tamanho do ícone */
  margin-bottom: 1rem;
}

.icon-item p {
  font-size: 1rem;
  max-width: 180px;
}

.quem-somos {
  background-color: #fff;
  padding: 6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 800px;
  width: 100%;
  margin-top: -70px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  background-color: #333333; /* Fundo cinza chumbo */
  color: #ffffff;
  font-size: 1.2rem;
  min-height: 400px;
  opacity: 0; /* Inicia invisível para animação */
  transform: translateY(20px); /* Efeito de deslizamento inicial */
  animation: fadeInUp 0.8s forwards; /* Animação de fade-in e deslizamento */
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilos para o título do card */
.card-title {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 0.5rem;
  text-align: center;
}

/* Linha divisória abaixo do título */
.divider {
  width: 50%;
  height: 2px;
  background-color: #b0c4de;
  margin: 0.5rem 0 1.5rem 0;
}

/* Lista com espaçamento ajustado */
.card-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  width: 90%;
}

.card-list li {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 1rem; /* Espaço para a bolinha */
  color: #d3d3d3;
}

.card-list li::before {
  content: "•"; /* Adiciona a bolinha */
  color: #b0c4de; /* Cor da bolinha */
  position: absolute;
  left: 0; /* Alinha a bolinha à esquerda do item */
  font-size: 1.2rem; /* Ajuste de tamanho para a bolinha */
  line-height: 1; /* Garante que a bolinha fique centralizada verticalmente */
}

/* Estilos para blocos de imagem */
.grid-item.photo-block {
  padding: 0;
  background-color: transparent;
}

.photo-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333; /* Fundo cinza chumbo */
  color: #ffffff; /* Texto branco */
  padding: 1rem 2rem; /* Espaçamento ao redor do título */
  margin: auto; /* Espaçamento para separar do conteúdo acima */
  width: fit-content; /* Ajusta a largura ao conteúdo */
  border-radius: 8px; /* Borda arredondada para um toque moderno */
  margin-top: -100px;
}

.section-title h2 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
  letter-spacing: 1px; /* Espaçamento entre letras para destacar */
}

.onde-estamos {
  background-color: black;
  padding: 4rem 0;
  text-align: center;
}

.state-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 90px;
}

.state-card {
  background-color: #333;
  color: #fff;
  padding: 1.5rem;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  text-align: left;
}

.state-card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Estilos para a lista de cidades */
/* Estilos para a lista de cidades */
.city-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  overflow: hidden; /* Necessário para o efeito de transição */
  max-height: 0; /* Começa fechada */
  opacity: 0; /* Inicia com opacidade 0 */
  transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
}

/* Abre a lista de cidades com animação */
.city-list.open {
  max-height: 500px; /* Ajuste o valor conforme necessário */
  opacity: 1; /* Mostra a lista com opacidade */
}

/* Multi-coluna para estados com muitas cidades */
.multi-column {
  column-count: 3; /* Divide em 3 colunas */
  column-gap: 2rem; /* Espaçamento entre as colunas */
}

.city-list li {
  font-size: 1rem;
  position: relative;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  color: #d3d3d3;
}

/* Adiciona a bolinha antes de cada cidade */
.city-list li::before {
  content: "•";
  color: #b0c4de;
  position: absolute;
  left: 0;
  font-size: 1.2rem;
  line-height: 1;
}

/* Linha divisória horizontal */
.section-divider {
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin: 2rem 0;
}

/* Título da seção Contato */
.section-contato {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333; /* Fundo cinza chumbo */
  color: #ffffff; /* Texto branco */
  padding: 1rem 2rem; /* Espaçamento ao redor do título */
  margin: auto; /* Espaçamento para separar do conteúdo acima */
  width: fit-content; /* Ajusta a largura ao conteúdo */
  border-radius: 8px; /* Borda arredondada para um toque moderno */
  transform: translateY(-1.5rem); /* Ajusta a posição do título */
  margin-top: 50px;
}

.section-contato h2 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
  letter-spacing: 1px; /* Espaçamento entre letras para destacar */
}

/* Seção de Contato */
.contato {
  padding: 4rem 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: -30px;
}

/* Conteúdo da Seção de Contato */
.contact-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
  gap: 2rem;
  padding-top: 2rem;
  position: relative;
}

/* Informações de Contato à Esquerda */
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #d3d3d3;
}

.contact-info h3 {
  font-size: 1.8rem;
  color: #b0c4de;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.contact-info p {
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1.8;
  margin: 1rem 0; /* Espaçamento maior entre as linhas */
  color: #ffffff;
}

.contact-info p strong {
  font-weight: bold;
  color: #b0c4de; /* Destaque na cor do rótulo */
  margin-right: 0.5rem; /* Espaço entre o rótulo e o valor */
}

.contact-info p i {
  color: #b0c4de;
  font-size: 1.2rem;
  margin-right: 0.5rem; /* Espaço entre o ícone e o texto */
}

.contact-info p a {
  color: #d3d3d3;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-info p a:hover {
  color: #b0c4de; /* Muda de cor no hover para destacar */
}

/* Linha separadora entre cada item, opcional */
.contact-info p + p {
  border-top: 1px solid #444; /* Linha separadora entre itens */
  padding-top: 1rem;
  margin-top: 1rem;
  width: 100%;
}


/* Linha Divisória Vertical */
.vertical-divider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%; /* Centraliza verticalmente */
  width: 2px;
  background-color: #ffffff;
  transform: translateX(-50%);
}

/* Mapa à Direita */
.contact-map {
  flex: 1;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-map iframe {
  width: 500px;
  height: 300px;
  border-radius: 8px;
  border: none;
  margin-left: 190px;
}

@media (max-width: 768px) {
  /* Ajuste da Navbar */
  .nav__container {
    padding: 0 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-title {
    font-size: 1.2rem;
    margin-top: 0;
  }

  .nav__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #001f3f;
    position: absolute;
    top: 5rem;
    left: 0;
    padding: 1rem 0;
    z-index: 999;
  }

  .nav__menu a {
    margin: 1rem 0;
    color: white;
    font-size: 1rem;
    text-align: center;
  }

  .menu-btn {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1001;
  }

  /* Alternância dos botões de menu */
  #open-menu-btn {
    display: block;
  }

  #close-menu-btn {
    display: none;
  }

  .nav__menu.active {
    display: flex;
  }

  #open-menu-btn.active {
    display: none;
  }

  #close-menu-btn.active {
    display: block;
  }

  /* Header e Vídeo */
  .header-container {
    height: 70vh;
  }

  .header__container {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem;
    text-align: center;
  }

  /* Tamanho da Fonte e Padding */
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  section {
    padding: 3rem 1rem;
  }

  /* Ícones da Seção de Introdução */
  .intro-icons {
    padding: 1.5rem 0;
    flex-direction: column;
  }

  .icon-container {
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  .icon-item i {
    font-size: 2rem;
  }

  .icon-item p {
    font-size: 0.9rem;
  }

  /* Seção Quem Somos */
  .quem-somos {
    padding: 3rem 1rem;
  }

  .grid-container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-top: 0;
  }

  .grid-item {
    min-height: 300px;
    padding: 1.5rem;
    font-size: 1rem;
  }

  .card-title {
    font-size: 1.6rem;
  }

  .divider {
    width: 30%;
  }

  .card-list li {
    font-size: 0.9rem;
  }

  /* Estilos da Imagem no Bloco */
  .photo-block img {
    height: auto;
    border-radius: 5px;
  }

  /* Título da Próxima Seção */
  .section-title {
    padding: 0.5rem 1rem;
    margin-top: -50px;
  }

  .section-title h2 {
    font-size: 1.4rem;
  }

  /* Conteiner Principal */
  .container {
    width: 100%;
    padding: 0 1rem;
  }

  .contact-content {
    flex-direction: column;
    text-align: center;
  }

  .vertical-divider {
    display: none;
  }

  .contact-info p strong {
    display: inline;
  }

  .contact-map iframe {
    height: 250px;
  }

  /* Ajustes em Geral */
  body {
    line-height: 1.5;
  }

  a {
    font-size: 0.9rem;
  }
}
